# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
build/Release/
lib-cov/
coverage/
*.lcov
.nyc_output/

# Tauri
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/remote/

# OS
.DS_Store
Thumbs.db
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

